
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  text-align: center;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}

.float-right {
   margin-left: auto;
}


form {
  padding-top: 5px;
}



.searchBox{
	display: flex;
	justify-content:center;
	margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
	background-color:cornflowerblue;
}

.searchBox input[type="text"] {
    margin-right: 10px;
}

.centered-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldError {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}



