.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.float-right {
   margin-left: auto;
}


form {
  padding-top: 5px;
}