<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout">

  <!-- Anyting from this div with layout fragment content will be put in the default layout-->
  <body>
    <div class="container my-5 centered-column" layout:fragment="content">
      
      <div class="logInClass">
      <form action="#" method="post" th:action="@{/login/}" th:object="${loginModel}">
        <div class="row justify-content-center">
         
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input th:field="*{username}" type="text" class="form-control input-large" id="username" aria-describedby="usernamehelp" required>
              <div id="usernamehelp" class="form-text"></div>
              <p class="alert alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input th:field="*{password}" type="text" class="form-control input-large" id="password" required>
            </div>
            <p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
            <button type="submit" class="btn btn-primary">Login</button>
        
        </div>
      </form>
      
      <div class="demo">
       <h3>For demonstration purposes</h3>
     
       
        <table class="table">
  <thead>
    <tr>
     
      <th scope="col">Username</th>
      <th scope="col">Password</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
    
      <td>admin</td>
      <td>admin</td>
    
    </tr>
    <tr>
    
      <td>manager</td>
      <td>manager</td>
    </tr>
     <tr>
   
      <td>user</td>
      <td>user</td>
    </tr>
   
  </tbody>
</table>
      </div>
      
      </div>
      
    </div>
  </body>
</html>
