<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>My First Webpage</title>
  </head>

  <body>
   
   <div layout:fragment="content">	
	   <form th:action="@{/orders/search}" action="#" method="post" >
	 
	  <div class="mb-3">
	    <label for="searchTermInput" class="form-label">Search For</label>
	    <input th:field="*{searchTerm}" type="text" class="form-control" id="searchTermInput" aria-describedby="searchTermHelp">
	    <div id="searchTermHelp" class="form-text">Search for a term</div>
	  </div>
	  
	  <button type="submit" class="btn btn-primary">Submit</button>
	  
	   </form>
	   
	   
   </div>
   
  </body>
</html>